body{
  background-color: #ffbf00;
}
.playerChoice {
  -webkit-appearance: button;
  color: #1d3e3e;
  font-family: 'Pacifico', cursive;
  font-size: 250%;
  text-align: -webkit-center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px 105px 15px;
  border-width: 2px;
  border-style: outset;
  border-color: lightsalmon;
  background-color: lightsalmon;
  border-radius: 15px;
  margin: 75px 35px 105px;
}
.playerChoice:focus{
  border: 2px solid salmon;
  background-color: salmon;
  border-radius: 15px;
  outline: none;
}
#buttons{
  margin-top: 100px;
}
.langs {
  -webkit-appearance: button;
  background-color: #ffbf00;
  border: #ffbf00;
  border-radius: 15px;
  height: 75px;
  width: 75px;
  margin: 25px 25px 0px;
}
.langs:focus {
  outline: none;
  box-shadow: 0 5px #dda602;
  transform: translateY(-4px);
}
#ruLang{
  background-image: url(Russia-icon.png);
}
#engLang{
  background-image: url(United-Kingdom-icon.png);
}
#nlLang{
  background-image: url(Netherlands-icon.png);
}

div{
  text-align: -webkit-center;
}
#gameResult{
  font-family: 'Pacifico', cursive;
  font-size: 250%;
  color: #1d3e3e;
  align-items: center;
  margin-bottom: 50px;
}
#score{
  font-size: 300%;
  font-family: 'Pacifico', cursive;
  text-align: -webkit-center;
  color: #1d3e3e;
}
#startGame{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #2f7171;
  background-color: lightsalmon;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#startGame:active {
  background-color: #ffbf00;
  box-shadow: 0 3px #dda602;
  transform: translateY(4px);
}
